<body>
    <!--card-->
       <h4> LEHANGA'S>></h4> <hr>
       <div class="card-deck" >
           <a href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/lehenga.jpg" alt="no img" width="200px" height="200px">
                   </div>
                   <div class="card-footer">
                       Lehanga <br>
                       <i class="fas fa-rupee-sign"></i>2599 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/lehenga2.jpg" alt="no img" width="200" height="200px">
                   </div>
                   <div class="card-footer">
                    Lehanga<br>
                       <i class="fas fa-rupee-sign"></i>4559 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/lehenga3.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Lehanga<br>
                       <i class="fas fa-rupee-sign"></i>1999 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/lehenga4.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Lehanga<br>
                       <i class="fas fa-rupee-sign"></i>3999 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/lehenga5.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Lehanga <br>
                       <i class="fas fa-rupee-sign"></i>4459 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
       </div>
       <!--end-->  
       <!--card-carousel-->
       <h4>KURTHA'S >></h4> <hr>
       <section class="pt-5 pb-5">
           <div class="container">
           <div class="row">
               <div class="col-6">
                   
               </div>
               <div class="col-6 text-right">
                   <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                       <i class="fa fa-arrow-left"></i>
                   </a>
                   <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                       <i class="fa fa-arrow-right"></i>
                   </a>
               </div>
               <div class="col-12">
                   <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
       
                       <div class="carousel-inner">
                           <div class="carousel-item active">
                               <div class="row">
                                   
                                   <div class="col-md-4 mb-3" style="text-align: center;">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img" style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha1.jpg" width="280px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>599 <br>
                                                       Kurtha <br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br>
                                                       <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   
                                   <div class="col-md-4 mb-3">
                                           <a href="">
                                               <div class="card">
                                                   <img  alt="no img" style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha2.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>399 <br>
                                                       Kurtha <br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                           <a href="#">
                                               <div class="card">
                                                   <img  alt="no img" style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha12.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>699 <br>
                                                       Kurtha<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                        <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                               </div>
                           </div>
                           <div class="carousel-item">
                               <div class="row">
       
                                   <div class="col-md-4 mb-3">
                                           <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha4.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>345 <br>
                                                       Kurtha<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha5.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>350 <br>
                                                       Kurtha<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha11.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>499 <br>
                                                       Kurtha <br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
       
                               </div>
                           </div>
                           <div class="carousel-item">
                               <div class="row">
       
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha10.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>399 <br>
                                                       Kurtha<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                            <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha8.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    Kurtha  <br>
                                                   <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                           </div>
                                       </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                            <div class="card">
                                                   <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/kurtha9.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    Kurtha <br>
                                                   <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                           </div>
                                       </a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       </section>
       <!--end-->
       <!--card-->
       <h4>SAREE'S>></h4> <hr>
       <div class="card-deck">
           <a href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/saree9.jpg" alt="no img" width="200px" height="200px">
                   </div>
                   <div class="card-footer">
                       saree <br>
                       <i class="fas fa-rupee-sign"></i>599 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/saree8.jpg" alt="no img" width="200" height="200px">
                   </div>
                   <div class="card-footer">
                    saree <br>
                       <i class="fas fa-rupee-sign"></i>455 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/saree3.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                       Saree<br>
                       <i class="fas fa-rupee-sign"></i>599 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/saree4.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                       Saree<br>
                       <i class="fas fa-rupee-sign"></i>399 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/saree11.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                        Saree<br>
                       <i class="fas fa-rupee-sign"></i>445 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
       </div>
    <!--end--> 
    <!--card-carousel-->
    <h4>SHIRT'S >></h4> <hr>
    <section class="pt-5 pb-5">
        <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt1.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>599 <br>
                                                    Shirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>
                                                    <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                        <a href="">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt2.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Shirt<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt3.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>699 <br>
                                                    Shirt<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                     <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt4.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    Shirt<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt5.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>350 <br>
                                                    Shirt<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt6.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    Shirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt7.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Shirt<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt8.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>299 <br>
                                                 Shirt<br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br>  <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/shrt9.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>499 <br>
                                                 Shirt<br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br> <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--end--> 
    <!--card-carousel-->
    <h4>TSHIRT'S >></h4> <hr>
    <section class="pt-5 pb-5">
        <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/thsrt1.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>599 <br>
                                                    Tshirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>
                                                    <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                        <a href="">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt2.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Tshirt  <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt3.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>699 <br>
                                                    Tshirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                     <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt4.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    Tshirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt5.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>350 <br>
                                                    Tshirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt6.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    Tshirt  <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt7.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Tshirt <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt8.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>299 <br>
                                                 Tshirt   <br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br>  <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img"  style="padding-left: 60px; padding-top: 10px;" src="./assets/images/tshrt9.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>499 <br>
                                                 Tshirt  <br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br> <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--End-->


</body>
