<body> 
    <div class="row">
        <div class="col-6">
            <h5>FOLLOW US</h5>
            <ul id="one">
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://myaccount.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h5>ADDRESS:</h5>
            <p> ANM-39F, Akashneem Marg,<br> DLF Phase 2, Sector 25,<br> Gurugram, Haryana 122002 <br>
                Phone: 086576 98836
            </p>
        </div>
    </div>
    <div class="right">
        <span>Copyright © 2021. Times Internet Limited. All rights reserved.For reprint rights. Times Syndication Service.</span>
        <a routerLink="/home" style="padding: 10px;">Home</a>
        <a routerLink="" style="padding: 10px;">Privacy policy</a>
        <a routerLink="/aboutus" style="padding: 10px;">About us</a>
        <a routerLink="/contactus" style="padding: 10px;">Contact us</a>
    </div>
</body>