<body>
    <!--card-->
       <h4> CHAIN'S>></h4> <hr>
       <div class="card-deck" >
           <a href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/chain1.jpg" alt="no img" width="200px" height="200px">
                   </div>
                   <div class="card-footer">
                       Simple Chain <br>
                       <i class="fas fa-rupee-sign"></i> 259 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/chain2.jpg" alt="no img" width="200" height="200px">
                   </div>
                   <div class="card-footer">
                    Simple Chain<br>
                       <i class="fas fa-rupee-sign"></i>559 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/chain3.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Simple Chain<br>
                       <i class="fas fa-rupee-sign"></i>999 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/chain4.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Simple Chain<br>
                       <i class="fas fa-rupee-sign"></i>399 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
           <a  href="#" style="color: black;">
               <div class="card">
                   <div class="card-body">
                       <img src="./assets/images/chain5.jpg" alt="no img" height="200px" width="200px">
                   </div>
                   <div class="card-footer">
                    Simple Chain <br>
                       <i class="fas fa-rupee-sign"></i>445 <br>
                       <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                       <button class="btn btn-warning">ADD TO CART</button>
                   </div>
               </div>
           </a>
       </div>
       <!--end-->  
        <!--card-->
        <h4> EARRINGS>></h4> <hr>
        <div class="card-deck" >
            <a href="#" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <img src="./assets/images/earrings1.jpg" alt="no img" width="200px" height="200px">
                    </div>
                    <div class="card-footer">
                        Earrings <br>
                        <i class="fas fa-rupee-sign"></i>259 <br>
                        <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                        <button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </a>
            <a  href="#" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <img src="./assets/images/earrings.jpg" alt="no img" width="200" height="200px">
                    </div>
                    <div class="card-footer">
                        Earrings <br>
                        <i class="fas fa-rupee-sign"></i>559 <br>
                        <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                        <button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </a>
            <a  href="#" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <img src="./assets/images/earrings3.jpg" alt="no img" height="200px" width="200px">
                    </div>
                    <div class="card-footer">
                        Earrings <br>
                        <i class="fas fa-rupee-sign"></i>999 <br>
                        <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                        <button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </a>
            <a  href="#" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <img src="./assets/images/earrings4.jpg" alt="no img" height="200px" width="200px">
                    </div>
                    <div class="card-footer">
                        Earrings <br>
                        <i class="fas fa-rupee-sign"></i>399 <br>
                        <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                        <button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </a>
            <a  href="#" style="color: black;">
                <div class="card">
                    <div class="card-body">
                        <img src="./assets/images/earrings5.jpg" alt="no img" height="200px" width="200px">
                    </div>
                    <div class="card-footer">
                        Earrings  <br>
                        <i class="fas fa-rupee-sign"></i>445 <br>
                        <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                        <button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </a>
        </div>
        <!--end-->  
       <!--card-carousel-->
       <h4>NECKSET'S >></h4> <hr>
       <section class="pt-5 pb-5">
           <div class="container">
           <div class="row">
               <div class="col-6">
                   
               </div>
               <div class="col-6 text-right">
                   <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                       <i class="fa fa-arrow-left"></i>
                   </a>
                   <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                       <i class="fa fa-arrow-right"></i>
                   </a>
               </div>
               <div class="col-12">
                   <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
       
                       <div class="carousel-inner">
                           <div class="carousel-item active">
                               <div class="row">
                                   
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset1.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>5999 <br>
                                                       NeckSet <br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br>
                                                       <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   
                                   <div class="col-md-4 mb-3">
                                           <a href="">
                                               <div class="card">
                                                   <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset2.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>3999 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                           <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;"  src="./assets/images/neckset3.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>6995 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                        <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                               </div>
                           </div>
                           <div class="carousel-item">
                               <div class="row">
       
                                   <div class="col-md-4 mb-3">
                                           <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset4.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>3459 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset5.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>3509 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset6.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>4999 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
       
                               </div>
                           </div>
                           <div class="carousel-item">
                               <div class="row">
       
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                               <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset7.jpg" width="290px" height="200px">
                                                   <div class="card-body">
                                                       <i class="fas fa-rupee-sign"></i>3999 <br>
                                                       NeckSet<br>
                                                       <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                       <br> <button class="btn btn-warning">ADD TO CART</button>
                                                   </div>
                                               </div>
                                           </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                            <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset8.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>2999 <br>
                                                    NeckSet  <br>
                                                   <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                           </div>
                                       </a>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                       <a href="#">
                                            <div class="card">
                                                   <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/neckset9.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>4999 <br>
                                                    NeckSet <br>
                                                   <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                           </div>
                                       </a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>
    <!--end-->
    <!--card-->
    <h4> FOOTWEAR>></h4> <hr>
    <div class="card-deck" >
        <a href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/footwear1.jpg" alt="no img" width="200px" height="200px">
                </div>
                <div class="card-footer">
                   Footwear <br>
                    <i class="fas fa-rupee-sign"></i>599 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/footwear2.jpg" alt="no img" width="200" height="200px">
                </div>
                <div class="card-footer">
                 L Footwear<br>
                    <i class="fas fa-rupee-sign"></i>559 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/footwear3.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Footwear<br>
                    <i class="fas fa-rupee-sign"></i>999 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/footwear4.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Footwear<br>
                    <i class="fas fa-rupee-sign"></i>999 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/footwear5.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Footwear<br>
                    <i class="fas fa-rupee-sign"></i>445 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
    </div>
    <!--end-->  
    <!--card-->
    <h4> SHOE'S>></h4> <hr>
    <div class="card-deck" >
        <a href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/shoe1.jpg" alt="no img" width="200px" height="200px">
                </div>
                <div class="card-footer">
                   Shoe <br>
                    <i class="fas fa-rupee-sign"></i>2599 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/shoe2.jpg" alt="no img" width="200" height="200px">
                </div>
                <div class="card-footer">
                    Shoe<br>
                    <i class="fas fa-rupee-sign"></i>4559 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/shoe3.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Shoe<br>
                    <i class="fas fa-rupee-sign"></i>1999 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/shoe4.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Shoe<br>
                    <i class="fas fa-rupee-sign"></i>3999 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/shoe5.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Shoe <br>
                    <i class="fas fa-rupee-sign"></i>4459 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
    </div>
    <!--end-->  
    
</body>
