<body>
    <!--card-->
<h4> MOBILES>></h4> <hr>
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/mobile1.jpg" alt="no img" width="200px" height="200px">
            </div>
            <div class="card-footer">
               Mobile<br>
                <i class="fas fa-rupee-sign"></i>9599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/mobile2.jpg" alt="no img" width="200" height="200px">
            </div>
            <div class="card-footer">
                Mobile <br>
                <i class="fas fa-rupee-sign"></i>10559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/mobile3.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Mobile<br>
                <i class="fas fa-rupee-sign"></i>9999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/mobile4.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Mobile<br>
                <i class="fas fa-rupee-sign"></i>9999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/mobile5.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Mobile<br>
                <i class="fas fa-rupee-sign"></i>12999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>

<!--end--> 
<h4>AIR CONDITIONERS>></h4><hr>
<!--card-->
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/AC1.jpg" alt="no img" width="250px" height="200px">
            </div>
            <div class="card-footer">
               AC <br>
                <i class="fas fa-rupee-sign"></i>6599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/AC2.jpg" alt="no img" width="250" height="200px">
            </div>
            <div class="card-footer">
                AC <br>
                <i class="fas fa-rupee-sign"></i>5599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/AC3.jpg" alt="no img" height="200px" width="250px">
            </div>
            <div class="card-footer">
                AC <br>
                <i class="fas fa-rupee-sign"></i>9999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/AC4.jpg" alt="no img" height="200px" width="250px">
            </div>
            <div class="card-footer">
                AC <br>
                <i class="fas fa-rupee-sign"></i>9999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>
<!--end--> 
<!--card-->
<h4>FRIDGE</h4><hr>
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img  style="padding-top: 10px; padding-left: 40px;" src="./assets/images/fridge1.jpg" alt="no img" width="170px" height="200px">
            </div>
            <div class="card-footer">
                Fridge <br>
                <i class="fas fa-rupee-sign"></i>18599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/fridge2.jpg" alt="no img" width="200" height="200px">
            </div>
            <div class="card-footer">
                Fridge <br>
                <i class="fas fa-rupee-sign"></i>15559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/fridge3.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Fridge<br>
                <i class="fas fa-rupee-sign"></i>16999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/fridge4.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Fridge<br>
                <i class="fas fa-rupee-sign"></i>15999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/fridge5.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                Fridge<br>
                <i class="fas fa-rupee-sign"></i>19999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>
<!--end--> 
<!--card-->
<h4> TELEVISION>></h4> <hr>
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/tv1.jpg" alt="no img" width="200px" height="200px">
            </div>
            <div class="card-footer">
               TV <br>
                <i class="fas fa-rupee-sign"></i>8599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/tv2.jpg" alt="no img" width="200PX" height="200px">
            </div>
            <div class="card-footer">
                TV <br>
                <i class="fas fa-rupee-sign"></i>9559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/tv3.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                TV <br>
                <i class="fas fa-rupee-sign"></i>8999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/tv4.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                TV <br>
                <i class="fas fa-rupee-sign"></i>9999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/tv5.jpg" alt="no img" height="200px" width="200px">
            </div>
            <div class="card-footer">
                TV <br>
                <i class="fas fa-rupee-sign"></i>12999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>

</div>
<!--end--> 
</body>

