<body>
    <div class="row">
        <div class="col-6" style="background-color: rgb(250, 232, 160);">
            <img src="./assets/images/coverpage.jpg" alt="no img" width="500px" height="200px">
        </div>
        <div class="col-6">
            <h6>We Enlighten your beauty with our products... <br>
                We offer free shipping... <br>
                No exchange... <br>
                Return within a Week...
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>The Founders</h4>
            <p> Smytten was founded by Swagata Sarangi and Siddhartha Nangia, <br>
                two ex-ISB-ians with over 25 years of collective experience <br>
                of working with companies like Google, McKinsey and Unilever. <br>
            </p>
        </div>
        <div class="col-6" style="background-color: rgb(231, 213, 138); padding-top: 20px; padding-bottom: 20px;">
            <img src="./assets/images/founder.jpg" alt="no img" width="500px" height="200px">
        </div>
    </div>
    <div style="padding-top: 80px;">
        <h3>........FREE SHIPPING ALL OVER INDIA........</h3>
    </div>

</body>