 <body>
 <!--card-->
    <h4>FOUNDATIONS >></h4> <hr>
    <div class="card-deck" >
        <a href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/foundation1.jpg" alt="no img" width="200px" height="200px">
                </div>
                <div class="card-footer">
                    Foundation <br>
                    <i class="fas fa-rupee-sign"></i>259 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/foundation2.jpg" alt="no img" width="200" height="200px">
                </div>
                <div class="card-footer">
                    Foundation <br>
                    <i class="fas fa-rupee-sign"></i>455 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/foundation3.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Foundation<br>
                    <i class="fas fa-rupee-sign"></i>199 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/foundation4.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Foundation<br>
                    <i class="fas fa-rupee-sign"></i>399 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/foundation5.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Foundation <br>
                    <i class="fas fa-rupee-sign"></i>445 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
    </div>
    <!--end-->  
    <!--card-carousel-->
    <h4>CONCEALERS >></h4> <hr>
    <section class="pt-5 pb-5">
        <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer1.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    Swiss Beauty professional look concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>
                                                    <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                        <a href="">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer2.png" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Studio finish SPF 35 Concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer3.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    NYKAA
                                                    Makeup Concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                     <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer4.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    MAC cream Concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br>  <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer5.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    MAC Concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer6.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    Maybelline NewYork Concealer <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer7.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Colorbar Flawless Concealer<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer8.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>299 <br>
                                                MAC Fit Me Concealer  <br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br>  <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                         <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/concealer9.jpg" width="290px" height="200px">
                                             <div class="card-body">
                                                 <i class="fas fa-rupee-sign"></i>499 <br>
                                                MUOMA Concealer  <br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                <br> <button class="btn btn-warning">ADD TO CART</button>
                                             </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--end-->
    <!--card-->
    <h4>LINERS>></h4> <hr>
    <div class="card-deck">
        <a href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/liner1.jpg" alt="no img" width="200px" height="200px">
                </div>
                <div class="card-footer">
                    Liner <br>
                    <i class="fas fa-rupee-sign"></i>259 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/liner2.jpg" alt="no img" width="200" height="200px">
                </div>
                <div class="card-footer">
                    Liner <br>
                    <i class="fas fa-rupee-sign"></i>455 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/liner3.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Liner<br>
                    <i class="fas fa-rupee-sign"></i>199 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/liner4.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Liner<br>
                    <i class="fas fa-rupee-sign"></i>399 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/liner5.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                   Liner <br>
                    <i class="fas fa-rupee-sign"></i>445 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                    <button class="btn btn-warning">ADD TO CART</button>
                </div>
            </div>
        </a>
    </div>
    <!--end-->  
    <!--card-carousel-->
    <h4>LIPSTICKS>></h4> <hr>
    <section class="pt-5 pb-5">
        <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips1.jpg" width="290px" height="200px" >
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    Lipstick <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                        <a href="">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips2.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    Lipstick<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips3.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    Lipstick<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips4.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    Lipstick <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips5.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    Lipstick <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips6.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    Lipstick <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips7.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                   Lipstick<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips8.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    MAC Fit Me Concealer  <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>   
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img"  style="padding-top: 10px; padding-left: 60px;" src="./assets/images/lips9.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                   Lipstick<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--end-->
    <!--card-->
    <h4>COMPACT>></h4> <hr>
    <div class="card-deck" style="text-align: center;">
        <a href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/compact1.jpg" alt="no img" width="200px" height="180px">
                </div>
                <div class="card-footer">
                    Compact <br>
                    <i class="fas fa-rupee-sign"></i>259 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> 
                        <br><button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img  src="./assets/images/compact2.jpg" alt="no img" width="200" height="180px">
                </div>
                <div class="card-footer">
                    Compact <br>
                    <i class="fas fa-rupee-sign"></i>455 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> 
                        <br><button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/compact3.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Compact<br>
                    <i class="fas fa-rupee-sign"></i>199 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> 
                        <br><button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/compact4.jpg" alt="no img" height="200px" width="200px">
                </div>
                <div class="card-footer">
                    Compact<br>
                    <i class="fas fa-rupee-sign"></i>399 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> 
                        <br><button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </a>
        <a  href="#" style="color: black;">
            <div class="card">
                <div class="card-body">
                    <img src="./assets/images/compact5.jpg" alt="no img" height="180px" width="200px">
                </div>
                <div class="card-footer">
                    Compact <br>
                    <i class="fas fa-rupee-sign"></i>445 <br>
                    <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> 
                        <br><button class="btn btn-warning">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!--end--> 
    <!--card-carousel-->
    <h4>SHADES>></h4> <hr>
    <section class="pt-5 pb-5">
        <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades1.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                   shades <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                        <a href="">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades2.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    shades <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades3.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                    shades <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                     <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades4.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                    shades <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades5.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>345 <br>
                                                   Shades<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades6.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>499 <br>
                                                    shades <br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                    <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                            <div class="card">
                                                <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades7.jpg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>399 <br>
                                                    shades<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                     <br><button class="btn btn-warning">ADD TO CART</button>
                                                </div>
            
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                        <a href="#">
                                            <div class="card">
                                                <img alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades8.jpeg" width="290px" height="200px">
                                                <div class="card-body">
                                                    <i class="fas fa-rupee-sign"></i>299 <br>
                                                      shades<br>
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                   <br> <button class="btn btn-warning">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </a>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <a href="#">
                                        <div class="card">
                                            <img  alt="no img" style="padding-top: 10px; padding-left: 60px;" src="./assets/images/shades9.jpg" width="290px" height="200px">
                                            <div class="card-body">
                                                <i class="fas fa-rupee-sign"></i>599 <br>
                                                  shades<br>
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                               <br> <button class="btn btn-warning">ADD TO CART</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--end--> 
</body>