body{
    background-image: url(../../assets/images/morebg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 370vh;

}