body{
    background-color: cadetblue;
  }
  .card:hover{
    background-color: aliceblue;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .card-body{
    text-align: center;
    color: black;
  }
  .card{
    height: 350px;
  }
  .card-deck{
    padding-left: 250px;
    text-align: center;
  }
  .btn:hover{
    background-color: rgb(74, 74, 238);
  }
  h4{
    padding-left: 50px;
    padding-top: 50px;
  }