<body>
    <!--card-->
<h4> FOOD>></h4> <hr>
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food1.jpg" alt="no img" width="250px" height="200px">
            </div>
            <div class="card-footer">
               Food <br>
                <i class="fas fa-rupee-sign"></i>599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food2.jpg" alt="no img" width="250" height="200px">
            </div>
            <div class="card-footer">
                Food <br>
                <i class="fas fa-rupee-sign"></i>559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food3.jpg" alt="no img" height="200px" width="250px">
            </div>
            <div class="card-footer">
                FFood <br>
                <i class="fas fa-rupee-sign"></i>999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>
<!--end--> 
<hr>
<!--card-->
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food4.jpg" alt="no img" width="250px" height="200px">
            </div>
            <div class="card-footer">
                Food  <br>
                <i class="fas fa-rupee-sign"></i>599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food5.jpg" alt="no img" width="250" height="200px">
            </div>
            <div class="card-footer">
                Food <br>
                <i class="fas fa-rupee-sign"></i>559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food6.jpg" alt="no img" height="200px" width="250px">
            </div>
            <div class="card-footer">
                Food <br>
                <i class="fas fa-rupee-sign"></i>999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>
<!--end--> 
<!--card-->
<hr>
<div class="card-deck" >
    <a href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food7.jpg" alt="no img" width="250px" height="200px">
            </div>
            <div class="card-footer">
                Food  <br>
                <i class="fas fa-rupee-sign"></i>599 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food8.jpg" alt="no img" width="250" height="200px">
            </div>
            <div class="card-footer">
                Food <br>
                <i class="fas fa-rupee-sign"></i>559 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
    <a  href="#" style="color: black;">
        <div class="card">
            <div class="card-body">
                <img src="./assets/images/food9.jpg" alt="no img" height="200px" width="250px">
            </div>
            <div class="card-footer">
                Food <br>
                <i class="fas fa-rupee-sign"></i>999 <br>
                <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> </div>
                <button class="btn btn-warning">ADD TO CART</button>
            </div>
        </div>
    </a>
</div>
<!--end--> 

</body>
