<body>
    <h3>Contact us</h3>
    <p>At Smytten, we’ve always loved hearing from all of you out there! <br>  Do write to us at care@smytten.com with any of your queries, feedback, or a general hello, and <br> we’ll ensure that we’ll get back to you as soon as possible!</p>
    <form id="one">
        Name: <input type="text">
        Phone Number: <input type="number"> <br> <br>
        Email: <input type="mail"> <br> <br>
        Message: <input type="text"> <br> <br>
        <button class="btn btn-info">send</button>
    </form>
</body>
